/* Button style */
.btn {
  font-size: 1.7rem;
  font-family: $font-primary;
  text-transform: uppercase;
  padding: .7em 1em;
  font-weight: 600;
  border-radius: 0;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $color-primary;
  color: $white;
  border-color: $color-primary;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-primary !important;
    border-color: $color-primary !important;
    transform: scale(1.05);
  }
}

.btn-outline-primary {
  background: transparent !important;
  color: $color-primary !important;
  border-color: $color-primary !important;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    transform: scale(1.05);
  }
}

.btn-radius-primary {
  background: $color-primary !important;
  color: $white !important;
  border-radius: 10px;
  font-weight: 600;
  border: none;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    text-decoration: underline;
  }
}
