{{ define "main" }}

<section class="page-header" {{ partial `bg-image.html` (dict `Src` "/images/events/header-bg.jpg" ) | safeHTMLAttr }}>
  <div class="container">
    <h1>Events</h1>
  </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xl-6 mx-auto">
        <div class="opt-in-form text-center mb-5">
          <p class="text-opacity-75">
            If you are interested in receiving updates about 3mdeb activity, join our 3mdeb newsletter!
          </p>
          <form action="" class="row justify-content-center">
            <div class="col-md-8">
              <input class="p-3 w-100" type="text" name="email" placeholder="Email">
            </div>
            <div class="col-12">
              <input class="btn btn-radius-primary mt-4" type="submit" value="SUBSCRIBE">
            </div>
          </form>
        </div>

        <iframe loading="lazy" src="https://calendar.google.com/calendar/embed?src=events%403mdeb.com&amp;ctz=Europe%2FParis" scrolling="no"
          class="lazy mt-5 w-100" height="600" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0 event-links">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xl-6 mx-auto">
        {{ with .Params.events_download }}
        <div class="text-center section-title">
          <h2 class="h3">{{.title | markdownify}}</h2>
          <a class="fs-2" href="{{.link | safeURL}}">{{.label | markdownify}}</a>
        </div>
        {{ end }}

        <div class="row event-links-wrapper accordion-links-wrapper gy-5 align-items-start pt-5">
          {{ range .Params.all_events }}
          <div class="col-md-6">
            <h3>{{.year | markdownify}}</h3>
            <ul>
              {{ range .events }}
              {{ $eventLink := or (ne .date ``) (ne .event_poster ``) (ne .additional_info ``)}}
              {{ $link := replace (.title | plainify | urlize) "." ""}}

              {{ if $eventLink }}
              <li class="mb-1"><a href="/events/#_{{$link}}">{{.title | markdownify}}</a></li>
              {{ else }}
              <li class="mb-1">{{.title | markdownify}}</li>
              {{ end }}
              
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ range .Params.all_events }}
{{ $year := .year }}
<section class="section pt-0 events-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 bg-light">
        <div class="event-year">
          <h2>{{$year | markdownify}}</h2>
        </div>
      </div>
      <div class="col-md-10">
        <div class="events-accordion accordion accordion-flush" id="_{{$year | plainify | urlize}}_">
          {{ range $i, $e := .events }}
          {{ if or (ne .status "upcoming") (ne .date ``) (ne .event_poster ``) }}
          {{ if ne $i 0 }}<hr class="separator">{{end}}
          {{ $link := replace (.title | plainify | urlize) "." ""}}
          <div class="accordion-item" id="_{{$link}}">
            <h2 class="accordion-header">
              <button class="accordion-button shadow-none h3 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#_{{$link}}__" aria-expanded="false" aria-controls="_{{$link}}__">
                {{.title | markdownify}}
              </button>
            </h2>
            <div id="_{{$link}}__" class="accordion-collapse collapse bg-transparent" data-bs-parent="#_{{$year | plainify | urlize}}_">
              <div class="accordion-body">
                <div class="row gx-4 gx-lg-5 gy-4">
                  <div class="col-lg-3">
                    <p class="h5 text-primary"><strong>{{.date}}</strong></p>
                  </div>
                  <div class="col-lg-4 me-auto">
                    {{ if .event_poster }}
                    <div class="pe-5">
                      {{ partial "image.html" (dict "Src" .event_poster "Alt" (.title | plainify)) "Size" "200x" }}
                    </div>
                    {{ end }}
                  </div>
                  <div class="col-lg-5">{{.additional_info | markdownify}}</div>
                </div>

                {{ range .segments }}
                {{ if or (ne .date ``) (ne .image ``) (ne .youtube_video_id ``) (ne .additional_info ``)}}
                <div class="row gx-4 gx-lg-5 gy-4 pt-5">
                  <div class="col-12 opacity-50"><hr></div>
                  <div class="col-lg-3">
                    <p class="h5"><strong>{{.date}}</strong></p>
                  </div>

                  <div class="col-lg-4">
                    {{- with .image -}}
                    {{- partial "image.html" (dict "Src" . "Alt" "event-image" "Class" "mb-4") "Size" "200x" -}}
                    {{- end -}}

                    {{- with .youtube_video_id -}}
                    <div class="ratio ratio-16x9">
                      <iframe src="https://www.youtube.com/embed/{{.}}" title="YouTube video" allowfullscreen></iframe>
                    </div>
                    {{- end -}}
                  </div>

                  <div class="col-lg-5">{{.additional_info | markdownify}}</div>
                </div>
                {{ end }}
                {{ end }}

              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ partial "components/cta.html" (dict "Context" . "Class" "bg-light") }}


{{ end }}