{{ define "main" }}

{{ partial "components/page-header.html" . }}

{{with .Params.introduction}}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-2 order-md-0">
        {{ .content | markdownify }}
      </div>
      <div class="col-md-4 order-1 order-md-0 text-center">
        {{ partial "image.html" (dict "Src" .image "Alt" "technology" "Size" "320x320" )
        }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{with .Params.hypervisors_usage}}
<section class="section bg-light">
  <div class="container">
    <div class="row gy-5 justify-content-between">
      <div class="col-md-4 text-center">
        {{ partial "image.html" (dict "Src" .image "Alt" `hypervisors image` "Size" "420x420" )}}
      </div>
      <div class="col-md-8">
        {{.content | markdownify}}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{with .Params.about_embedded_hypervisors}}
<section class="section">
  <div class="container">
    <div class="row gy-5">
      {{range .}}
      <div class="col-md-6">
        <h3>{{.title | markdownify}}</h3>
        {{.content | markdownify}}

        {{with .youtube_video_id}}
        {{ partial "components/youtube-lite.html" (dict "Video_id" . "Class" "mt-5 pt-5 d-block mx-auto" "Width" "755px") }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{with .Params.why_hypervisors}}
<section class="section bg-light text-center">
  <div class="container">
    <h2>{{.title | markdownify}}</h2>
    <p>{{ .content | markdownify }}</p>
  </div>
</section>
{{ end }}

{{with .Params.why_3mdeb}}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h3">{{.title | markdownify}}</h2>
        {{ .content | markdownify }}
        <br>
      </div>
      <div class="col-12 d-flex flex-wrap justify-content-around align-items-center">
        {{ range .technologies }}
        {{ partial "image.html" (dict "Src" . "Alt" "acrn" )
        }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ partial "components/cta.html" (dict "Context" .) }}

{{ end }}
